.form{
	margin: 10px 150px 0px;
	width: 80%;
}

.td{
	text-align: center;
}

.tdcenter{
	text-align: center;
	border: solid;
}

td{
	font-weight: bold;//deixa a fonte em negrito
}

.input{
	border-radius: 8px;
	height: 20px;
	background: none;
	font-weight: bold;
	font-size: 15px;
}

.button{
    	color: #7a91c1;
    	font-family: "Comic Sans MS";
    	margin-top: 10px;
    	margin-bottom: 10px;
    	margin-left: 10px;
    	float: right;
    	border-radius: 8px;
    	height: 30px;
    	box-shadow: 5px 5px 5px #111;
}

.button:hover{
    	padding: 5px;
    	font-family: "Comic Sans MS";
    	background-color: #7a91c1;
    	color: white;
    	box-shadow: 5px 5px 5px #7a91c1;
    }